@model TutoringCenterSignInOut.Models.StudentInfo

@{
    ViewBag.Title = "Create";
}

<html style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create - My ASP.NET Application</title>
    <link href="~/Content/css?v=XrM_i-qL7ntkoyZchCNCLeeyZEN21k6m7X1mfUibzPs1" rel="stylesheet">
    <script src="/bundles/modernizr?v=inCVuEFe6J4Q07A0AcRsbJic_UE5MwpRMNGcOtk94TE1"></script>


</head>
<body style="background-image:url(https://rrcsignin.wvup.edu/images/66346.jpg);background-size: cover;">
    <div class="navbar navbar-inverse navbar-fixed-top">

    </div>
    <div class="container body-content">




        <script>
            function myFunction() {

                var foo = []
                $('#SUBJECTS :selected').each(function (i, selected) {
                    foo[i] = $(selected).text()
                })

                //var STUDENT_ID = $('#STUDENT_ID').val();
                //var REASON = $('#VISIT_REASON').val();

                //$.ajax({
                //	url: "/Create/?STUDENT_ID=" + STUDENT_ID + "&VISIT_REASON=" + REASON + "&SUBJECT=" + foo,
                //	type: "post",
                //	data: values,
                //	success: function () {
                //		alert('Saved Successfully');
                //	},
                //	error: function () {
                //		alert('Error');
                //	}
                //});
            }
        </script>
        <style>

            .Submit_Button {
                background: rgb(28, 184, 65);
                color: white;
                border-radius: 20px;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 15px;
                padding-top: 15px;
                font-size: 14pt;
            }

                .Submit_Button:hover {
                    background-color: #808080;
                    color: white;
                }
        </style>

        <link href="/Content/multi-select.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="/Scripts/bootstrap.js"></script>
        <script src="/Scripts/jquery.multi-select.js"></script>
        <script>
            $(document).ready(function () {
                $('#SUBJECTS').multiSelect();
                $('#VISIT_REASON').multiSelect();
                $("SUBJECTS").on("change", function () {
                    alert('hey')

                })
            })
            $(document).submit(function () {
                {
                    if (document.getElementById("VISIT_REASON").value == "" || document.getElementById("SUBJECTS").value == "") {
                        alert("PLEASE MAKE SURE TO SELECT SOMETHING FROM BOTH SECTIONS")
                        return false;
                    }
                    else {
                        return true;
                    }
                }
            })
        </script>
        <div>
            <br>
            <div style="margin-left:auto;margin-right:auto;border-radius:20px;max-width:650px;border-color:white;background-color:white;
padding-left:20px;padding-right:20px;padding-bottom:20px;padding-top:5px;
border:solid;border-width:2px;border-color:lightgray;box-shadow: 8px 8px 6px #888888 ;">
                <form action="/StudentInfoes/Create" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="l5YyRU2BteVsVEZ_GzABpnCh1VbIGtBHnrBjA3tIzRJp--adjkyWTUd50lOhKnhLsRA32GrmD32zlOPUjSfZvSiB1Pwa948mJIO-2ngctBM1">		<div class="form-horizontal">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td width="75%">
                                        <span style="font-size:32pt;">Welcome to the </span><br><span style="font-size:18pt;">Riverhawk Resource &amp; Tutoring Center</span>
                                    </td>
                                    <td width="25%">
                                        <img src="https://rrcsignin.wvup.edu/IMAGES/Rick.JPG" style="width:150px">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>

                        <div class="form-group" style="display:none;">
                            <label class="control-label col-md-2" for="STUDENTID">STUDENTID</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="STUDENTID" name="STUDENTID" type="text" value="991743103">
                                <span class="field-validation-valid text-danger" data-valmsg-for="STUDENTID" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <h3>Reason for Visit?</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top"></td>
                                    <td>
                                        <br>
                                        <center>
                                            <select id="VISIT_REASON" multiple="multiple" name="VISIT_REASON" style="position: absolute; left: -9999px;">
                                                <option value="1">Tutoring</option>
                                                <option value="2">Printing</option>
                                                <option value="3">Computer Use</option>
                                                <option value="4">Study Space</option>
                                                <option value="5">Math Make-up</option>
                                                <option value="6">Textbook Use</option>
                                                <option value="7">Box of Bones</option>
                                                <option value="8">Kurzweil</option>
                                                <option value="9">Calculator Use</option>
                                                <option value="10">Microscope</option>
                                                <option value="11">Brainfuse</option>
                                                <option value="12">OTHER</option>
                                            </select><div class="ms-container" id="ms-VISIT_REASON"><div class="ms-selectable"><ul class="ms-list" tabindex="-1"><li class="ms-elem-selectable" id="49-selectable"><span>Tutoring</span></li><li class="ms-elem-selectable" id="50-selectable"><span>Printing</span></li><li class="ms-elem-selectable" id="51-selectable"><span>Computer Use</span></li><li class="ms-elem-selectable" id="52-selectable"><span>Study Space</span></li><li class="ms-elem-selectable" id="53-selectable"><span>Math Make-up</span></li><li class="ms-elem-selectable" id="54-selectable"><span>Textbook Use</span></li><li class="ms-elem-selectable" id="55-selectable"><span>Box of Bones</span></li><li class="ms-elem-selectable" id="56-selectable"><span>Kurzweil</span></li><li class="ms-elem-selectable" id="57-selectable"><span>Calculator Use</span></li><li class="ms-elem-selectable" id="1567-selectable"><span>Microscope</span></li><li class="ms-elem-selectable" id="1568-selectable"><span>Brainfuse</span></li><li class="ms-elem-selectable" id="1569-selectable"><span>OTHER</span></li></ul></div><div class="ms-selection"><ul class="ms-list" tabindex="-1"><li class="ms-elem-selection" id="49-selection" style="display: none;"><span>Tutoring</span></li><li class="ms-elem-selection" id="50-selection" style="display: none;"><span>Printing</span></li><li class="ms-elem-selection" id="51-selection" style="display: none;"><span>Computer Use</span></li><li class="ms-elem-selection" id="52-selection" style="display: none;"><span>Study Space</span></li><li class="ms-elem-selection" id="53-selection" style="display: none;"><span>Math Make-up</span></li><li class="ms-elem-selection" id="54-selection" style="display: none;"><span>Textbook Use</span></li><li class="ms-elem-selection" id="55-selection" style="display: none;"><span>Box of Bones</span></li><li class="ms-elem-selection" id="56-selection" style="display: none;"><span>Kurzweil</span></li><li class="ms-elem-selection" id="57-selection" style="display: none;"><span>Calculator Use</span></li><li class="ms-elem-selection" id="1567-selection" style="display: none;"><span>Microscope</span></li><li class="ms-elem-selection" id="1568-selection" style="display: none;"><span>Brainfuse</span></li><li class="ms-elem-selection" id="1569-selection" style="display: none;"><span>OTHER</span></li></ul></div></div>
                                        </center>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                        <h3>I need help with the following subject(s):</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top"></td>
                                    <td>
                                        <br>
                                        <center>
                                            <select id="SUBJECTS" multiple="multiple" name="SUBJECTS" style="position: absolute; left: -9999px;">
                                                <option value="1">Math</option>
                                                <option value="2">English</option>
                                                <option value="3">Nursing</option>
                                                <option value="4">Computer Science</option>
                                                <option value="5">College 101</option>
                                                <option value="6">Psychology</option>
                                                <option value="7">History</option>
                                                <option value="8">Accounting</option>
                                                <option value="9">Sociology</option>
                                                <option value="10">Business</option>
                                                <option value="11">Criminal Justice</option>
                                                <option value="12">English (Major)</option>
                                                <option value="13">Legal Studies</option>
                                                <option value="14">OTHER</option>
                                            </select><div class="ms-container" id="ms-SUBJECTS"><div class="ms-selectable"><ul class="ms-list" tabindex="-1"><li class="ms-elem-selectable" id="49-selectable"><span>Math</span></li><li class="ms-elem-selectable" id="50-selectable"><span>English</span></li><li class="ms-elem-selectable" id="51-selectable"><span>Nursing</span></li><li class="ms-elem-selectable" id="52-selectable"><span>Computer Science</span></li><li class="ms-elem-selectable" id="53-selectable"><span>College 101</span></li><li class="ms-elem-selectable" id="54-selectable"><span>Psychology</span></li><li class="ms-elem-selectable" id="55-selectable"><span>History</span></li><li class="ms-elem-selectable" id="56-selectable"><span>Accounting</span></li><li class="ms-elem-selectable" id="57-selectable"><span>Sociology</span></li><li class="ms-elem-selectable" id="1567-selectable"><span>Business</span></li><li class="ms-elem-selectable" id="1568-selectable"><span>Criminal Justice</span></li><li class="ms-elem-selectable" id="1569-selectable"><span>English (Major)</span></li><li class="ms-elem-selectable" id="1570-selectable"><span>Legal Studies</span></li><li class="ms-elem-selectable" id="1571-selectable"><span>OTHER</span></li></ul></div><div class="ms-selection"><ul class="ms-list" tabindex="-1"><li class="ms-elem-selection" id="49-selection" style="display: none;"><span>Math</span></li><li class="ms-elem-selection" id="50-selection" style="display: none;"><span>English</span></li><li class="ms-elem-selection" id="51-selection" style="display: none;"><span>Nursing</span></li><li class="ms-elem-selection" id="52-selection" style="display: none;"><span>Computer Science</span></li><li class="ms-elem-selection" id="53-selection" style="display: none;"><span>College 101</span></li><li class="ms-elem-selection" id="54-selection" style="display: none;"><span>Psychology</span></li><li class="ms-elem-selection" id="55-selection" style="display: none;"><span>History</span></li><li class="ms-elem-selection" id="56-selection" style="display: none;"><span>Accounting</span></li><li class="ms-elem-selection" id="57-selection" style="display: none;"><span>Sociology</span></li><li class="ms-elem-selection" id="1567-selection" style="display: none;"><span>Business</span></li><li class="ms-elem-selection" id="1568-selection" style="display: none;"><span>Criminal Justice</span></li><li class="ms-elem-selection" id="1569-selection" style="display: none;"><span>English (Major)</span></li><li class="ms-elem-selection" id="1570-selection" style="display: none;"><span>Legal Studies</span></li><li class="ms-elem-selection" id="1571-selection" style="display: none;"><span>OTHER</span></li></ul></div></div>
                                        </center>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <center><input type="submit" value="Sign In" class="Submit_Button"></center>
                    </div>
                </form>

            </div>
            <br><br>
        </div>

        <hr>
        <footer>
            <center>

                300 Campus Drive, Parkersburg, WV 26104-8647 | Voice: 304-424.8000 | Fax: 304-424.8315 | Toll-Free: 1-800-WVA-WVUP (WV/OH)<br>
                Accredited by The Higher Learning Commission and a member of the North Central Association of Colleges and Schools.<br>
                A member institution of the Community and Technical College System of West Virginia<br>
                WVU Parkersburg is an affiliated institution of West Virginia University | An Equal Opportunity/Affirmative Action institution
            </center>
        </footer>
    </div>



    <script src="/bundles/jqueryval?v=x63JhYAtPoWfuvvzOG4ie0IbeC8KtI5Q_Ln6iJWChUE1"></script>




</body>
</html>