@{
    ViewBag.Title = "Admin";
}

<h3>Add/Update/Delete Reasons</h3>

@Html.ActionLink("Reasons", "Index", "Reasons");

<h3>Add/Update/Delete Subjects</h3>

@Html.ActionLink("Subjects", "Index", "Subjects");