
@{
    ViewBag.Title = "CheckedOut";
}


<html style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoring Center</title>
    <link href="/Content/css?v=XrM_i-qL7ntkoyZchCNCLeeyZEN21k6m7X1mfUibzPs1" rel="stylesheet">

    <script src="/bundles/modernizr?v=inCVuEFe6J4Q07A0AcRsbJic_UE5MwpRMNGcOtk94TE1"></script>


</head>
<body style="background-image:url(https://rrcsignin.wvup.edu/images/66346.jpg);background-size: cover;">
    <div class="navbar navbar-inverse navbar-fixed-top">

    </div>
    <div class="container body-content">






        <script type="text/JavaScript">
            setTimeout("location.href = '/Login';", 1500);
        </script>


        <div style="margin-left:auto;margin-right:auto;border-radius:20px;max-width:650px;border-color:white;background-color:white;padding:20px;border:solid;border-width:2px;border-color:lightgray;box-shadow: 8px 8px 6px #888888 ;">


            <div class="form-horizontal">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td width="75%">
                                <span style="font-size:32pt;">Welcome to the </span><br><span style="font-size:18pt;">Riverhawk Resource &amp; Tutoring Center</span>
                            </td>
                            <td width="25%">
                                <img src="https://rrcsignin.wvup.edu/IMAGES/Rick.JPG" style="width:150px">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <center>
                    <span style="color:dodgerblue;">
                        <h2>You have successfully checked out. <br>Thank you for visiting!</h2>
                    </span>
                </center>
            </div>


        </div>


        <hr>
        <footer>
            <center>

                300 Campus Drive, Parkersburg, WV 26104-8647 | Voice: 304-424.8000 | Fax: 304-424.8315 | Toll-Free: 1-800-WVA-WVUP (WV/OH)<br>
                Accredited by The Higher Learning Commission and a member of the North Central Association of Colleges and Schools.<br>
                A member institution of the Community and Technical College System of West Virginia<br>
                WVU Parkersburg is an affiliated institution of West Virginia University | An Equal Opportunity/Affirmative Action institution
            </center>
        </footer>
    </div>
    <hr />




</body>
</html>
