@model TutoringCenter.Models.Login

@{
    ViewBag.Title = "Logout";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <html style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tutoring Center</title>
        <link href="/Content/css?v=XrM_i-qL7ntkoyZchCNCLeeyZEN21k6m7X1mfUibzPs1" rel="stylesheet">

        <script src="/bundles/modernizr?v=inCVuEFe6J4Q07A0AcRsbJic_UE5MwpRMNGcOtk94TE1"></script>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">

        </div>

        <div class="form-horizontal">

            <hr />
            
            <div class="container body-content">

                <style>
                    .Submit_Button {
                        background: rgb(202, 60, 60);
                        color: white;
                        border-radius: 20px;
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-bottom: 15px;
                        padding-top: 15px;
                        font-size: 34pt;
                        width: 400px;
                    }

                        .Submit_Button:hover {
                            background-color: #808080;
                            color: white;
                        }
                </style>
                <br>
                <div style="margin-left:auto;margin-right:auto;border-radius:20px;max-width:650px;border-color:white;background-color:white;padding:20px;border:solid;border-width:2px;border-color:lightgray;box-shadow: 8px 8px 6px #888888 ;">

                    <table width="100%">
                        <tbody>
                            <tr>
                                <td width="75%">
                                    <span style="font-size:32pt;">Welcome to the </span><br><span style="font-size:18pt;">Riverhawk Resource &amp; Tutoring Center</span>
                                </td>
                                <td width="25%">
                                    <img src="~/Content/Images/Ricky.jpg" style="width:150px">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div style="display:none">
                        <hr>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="STUDENTID">STUDENTID</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="STUDENTID" name="STUDENTID" type="text" value="991743103">
                                <span class="field-validation-valid text-danger" data-valmsg-for="STUDENTID" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        Survey Says: 	 or
                    </div>


                    <center>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Check Out" class="Submit_Button" />
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <br>
            <br>            
        </div>
    </body>
</html>
}

@*Not sure why this was here, commenting out.  
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
