@model TutoringCenter.Models.Login

@{
    ViewBag.Title = "Logout";
}




<body style="background-image:url(https://rrcsignin.wvup.edu/images/66346.jpg);background-size: cover;">



    <h4>Thank you for Logging out</h4>


    <meta http-equiv="refresh" content="3; URL='index'" />
    </body>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
